html,
body,
header,
#intro {
	height: 100%;
}

#intro {
	background-image: url("https://images.unsplash.com/photo-1562244812-e705a6b7d80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
	background-size: cover;
}
.full-bg-img h1 {
	font-size: 9em;
	font-family: 'Frijole', cursive;
}
#content {
	height: 200%;
	background-image: url("https://image.freepik.com/free-vector/seamless-pizza-ingredients_1176-269.jpg");
	background-size: contain;
}
h4 {
	font-family: 'Rock Salt', cursive;
}
h6 {
	font-family: 'Varela Round', sans-serif;
}
#hform2 {
	width: 50%;
	align-items: center;
}
.card {
	justify-items: center;
	background-image: url("https://image.freepik.com/free-vector/seamless-pizza-ingredients_1176-269.jpg");
	color: white;
}
#hform2 {
	justify-content: center;
}
